body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  background-color: lavenderblush;
}

#navbar ul {
  height: 50px;
  list-style-type: none;
  margin:0;
  padding: 0px;
  background-color: lavender;
  border-radius: 5px;
}

#navbar li {
  display: inline-block;
  padding:10px 10px;
  border-right: 1px solid gray;
}

#project-wrapper

.project img {
  height: 300px;
  width:300px;
}

project {
  float: left;
  width:100px;
  margin:15px;
  background-color: transparent;
}